<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/silverstripe/framework/tests/bootstrap.php"
         cacheDirectory=".phpunit.cache/integration"
         colors="true"
         executionOrder="random"
         resolveDependencies="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="unit">
            <directory>vendor/wedevelopnl/silverstripe-grid/tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>vendor/wedevelopnl/silverstripe-grid/tests/Integration</directory>
            <exclude>vendor/wedevelopnl/silverstripe-grid/tests/Integration/Fluent</exclude>
        </testsuite>
        <testsuite name="functional">
            <directory>vendor/wedevelopnl/silverstripe-grid/tests/Functional</directory>
        </testsuite>
        <testsuite name="fluent">
            <directory>vendor/wedevelopnl/silverstripe-grid/tests/Integration/Fluent</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">vendor/wedevelopnl/silverstripe-grid/src</directory>
        </include>
    </source>
</phpunit>
