@use '../../styles/mixins';
@use '../../styles/variables' as vars;

.element-card {
  @include mixins.status-indicator;

  background: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 8%);
  border-radius: 4px;
  padding: 8px 12px;

  &__header {
    display: flex;
    align-items: baseline;
    gap: 6px;
  }

  &__title {
    margin: 0;
    font-size: 0.75em;
    font-weight: 600;
  }

  &__icon {
    font-size: 0.75em;
    color: vars.$color-text-muted;
  }

  &__content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: vars.$color-text-muted;
  }

  &__content--empty {
    font-style: italic;
  }

  &--clickable {
    cursor: pointer;

    &:hover {
      box-shadow: 0 1px 6px rgb(0 0 0 / 15%);
    }
  }

  &[style*="transform"] {
    z-index: 1;
  }
}
